<div class="inner">
	<h1>Hey now! Log in below.</h1> 
	<form action="/login" method="post">
		<div class="field half first">
			<label for="username"></label>
			<input name="username" id="username" type="text" placeholder="username">
		</div>
		<div class="field half">
			<label for="password"></label>
			<input name="password" id="password" type="password" placeholder="Password">
		</div>
			<% if @user && @user.errors.any? %>
				<% @user.errors.full_messages.each do |m| %>
					<p><%= m %></p>
				<% end %>
			<%end%>
			<% if @failed%>
				<p> Oops! there is something wrong with your username and password combination.<br> Check your spelling and make sure you have signed up :)</p>
			<% end %>
		<ul class="actions">
			<li><input value="Log In" class="button alt scrolly big" type="submit"></li>
			<li><a href="/signup" class="button alt scrolly big"> Sign up </a></li>
		</ul>

	</form>
</div>