<div class="inner">
	<h1>Hey now! Log in below.</h1> 
	<form action="/login" method="post">
		<div class="field half first">
			<label for="username">Username</label>
			<input name="username" id="username" type="text" placeholder="username">
		</div>
		<div class="field half">
			<label for="password">Password</label>
			<input name="password" id="password" type="password" placeholder="Password">
		</div>

		<ul class="actions">
			<li><input value="Log In" class="button alt scrolly big" type="submit"></li>
			<li><a href="/signup" class="button alt scrolly big"> Sign up </a></li>
		</ul>

	</form>
</div>