<div class="inner">
	<h1>Noice! Signup below and share your travel stories.</h1> 
	<form action="/signup" method="post">
		<div class="field half first">
			<label for="username"></label>
			<input name="username" id="username" type="text" placeholder="username">
		</div>
		<div class="field half">
			<label for="password"></label>
			<input name="password" id="password" type="password" placeholder="Password">
		</div>

		<ul class="actions">
			<li><input value="Signup" class="button alt scrolly big" type="submit"></li>
		</ul>
	</form>
</div>