<div class="inner">
    <h1>All Stories</h1>


        <% @stories.each do |story|%>
            <p> 
                <a href="/stories/<%= story.id %>" alt="Link to view details." title="Click to read story."><%= story.title%></a>
            </p>
        <% end %>


        <ul class="actions">
            <li><a href="/stories/new" class="button alt scrolly big"> Add a Story </a></li>
		</ul>
	</div>
</div>