<div class="inner">
	<h1> Welcome traveler! </h1>

	<ul class="actions">
		<li><a href="/login" class="button alt scrolly big">Log In</a></li>
        <li><a href="/signup" class="button alt scrolly big">Sign Up</a></li>
	</ul>
</div>