<div class="column">
	<h3>Placeholder form</h3>
	<form action="/index" method="post">
		<div class="field half first">
			<label for="username">Username</label>
			<input name="username" id="username" type="text" placeholder="Username">
		</div>
		<div class="field half">
			<label for="passowrd">Password</label>
			<input name="password" id="password" type="password" placeholder="Password">
		</div>
		<ul class="actions">
			<li><input value="Log In" class="button" type="submit"></li>
		</ul>
	</form>
</div>