<div class="inner">
    <h1>Places</h1>
        <% @places.each do |p|%>
        <p><%= p.city%></p>
        <% end %>
        <ul class="actions">
			<li><a href="/places/new" class="button alt scrolly big">Add a Place</a></li>
            <li><a href="/stories/new" class="button alt scrolly big">Add a Story</a></li>
		</ul>
	</div> %>
</div>