<div class="inner">
    <h3>Places</h3>
    <ul>
        <% @places.each do |p|%>
        <li>City: <%= p.city%></li>
        <li>State: <%= p.state%></li>
        <li>Country: <%= p.country%></li>
    </ul>
</div>