<div class="inner">
    <h1>Create place</h1>
    <form action="/places" method="post">
		<div class="field half first">
			<label for="city">City</label>
			<input name="city" id="city" type="text" placeholder="City">
		</div>
		<div class="field half">
			<label for="state">State</label>
			<input name="state" id="state" type="text" placeholder="State">
		</div>
        <div class="field half">
			<label for="country">Country</label>
			<input name="country" id="country" type="text" placeholder="Country">
		</div>
        <div class="field half">
			<label for="visit_date">Visit Date</label>
			<input name="visit_date" id="visit_date" type="text" placeholder="Visit Date">
		</div>
		<ul class="actions">
			<li><input value="Next" class="button alt scrolly big" type="submit"></li>
		</ul>
	</form>
</div>