<div class="inner">
	<h1>Where did you go?</h1>
    <form action="/places" method="post">
		<div class="field half">
			<label for="city"></label>
			<input name="city" id="city" type="text" placeholder="City">
		</div>
		<div class="field half">
			<label for="state"></label>
			<input name="state" id="state" type="text" placeholder="State">
		</div>
        <div class="field half">
			<label for="country"></label>
			<input name="country" id="country" type="text" placeholder="Country">
		</div>
        <div class="field half">
			<label for="visit_date"></label>
			<input name="visit_date" id="visit_date" type="text" placeholder="Visit Date">
		</div>
		<ul class="actions">
			<li><input value="Create Place" class="button alt scrolly big" type="submit"></li>
		</ul>
	</form>
</div>